.box {
    display: block;
    .elemen {
        width: 200px;
        height: 200px;
        background-color: red;
        border: 5px solid green;
        font-weight: 700;
        font-size: 100px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.ex{
    h1{
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.allA{
    a{
        margin-left: 20px;
    }
}